<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :seats %>
    <%= form.number_field :seats, max: @show.available_seats, min:1 %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total_price, readonly: true %>
  </div>

  <div class="actions">
    <% ticket_action = controller.action_name == "new" ? "Book" : "Cancel" %>
    <%= form.hidden_field :status, value: ticket_action %>
    <%= hidden_field_tag :show_id, @show.id %>
    <%= form.submit "#{ticket_action} Ticket", class: 'btn btn-primary' %>
  </div>
<% end %>
