<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @show.movie_id %>
</p>

<p>
  <strong>Theatre:</strong>
  <%= @show.theatre_id %>
</p>

<p>
  <strong>Show date:</strong>
  <%= @show.show_date %>
</p>

<p>
  <strong>Timing:</strong>
  <%= @show.timing_id %>
</p>

<p>
  <strong>Available seats:</strong>
  <%= @show.available_seats %>
</p>

<p>
  <strong>Seat price:</strong>
  <%= @show.seat_price %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
